<%- include('partials/header') %>


<h1>Here's your team</h1>
<% data.forEach(pokemon_team => { %>
  <%=pokemon_team.id%>
  <%=pokemon_team.pokemon_name%>
  <%=pokemon_team.pokemon_description%>
  
  <form 
  method="POST"
  action="/pokemon/<%=pokemon_team.id %>?_method=DELETE" 
    >
    <button type="submit">Delete</button>
  </form>
  <% }) %>


